<!DOCTYPE html>
{% load static %}{# 静的ファイルを使うため、static タグを読み込む（後で説明） #}
<html lang="ja">
    {# ... #}
    {% block header %}
    <header class="header">
        <div class="header__title">
            <h1 class="ttl">CHAT BOT</h1>
        </div>
        {% block talk_room %}{% endblock %}{# 追加 #}
    </header>
    {% endblock %}
    {# ... #}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>チャットアプリ</title>
        <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
        {% block extra_style %}{% endblock %}{# 追加 CSS 用ブロック #}
    </head>
    <body>
        {% block content %}{% endblock %}{# 各ページのメイン要素用ブロック #}
    </body>
</html>